# Ignore Gradle files
.gradle/
.gradle-task-cache
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Ignore build directories
build/
target/
out/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore IDE and editor-specific files
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Ignore compiled class files
*.class
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Ignore logs
*.log

# Ignore archives
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Environment properties
src/main/resources/env.properties